<div class="transaction-wrapper list-group">

  <ng-template [ngIf]="pageView&&!currentAccount">

    <div *ngFor="let t of transactions " class="transaction-row condensed"
      [ngClass]="t.flag==0 ? 'green' : t.flag==1? 'red' : 'yellow'">

      <div class="left direction-column">
        <span class="highlighted">{{t.beneficiery}}</span>
        <span>{{t.purpouse}}</span>
      </div>

      <div class="right direction-column">
        <span class="highlighted">{{t.date | date:'dd MMM hh:ss'}}</span>
        <span class="ammount-field">
          <app-styled-currency [currency]="t.currency" [value]="t.total">
          </app-styled-currency>
        </span>
      </div>
    </div>

  </ng-template>

  <ng-template [ngIf]="pageView&&currentAccount">

    <div class="list-group-header">
      <h4>Движения</h4>
      <div class="header-actions">
        <div class="header-action transaction-filter">
          <span class="mdi mdi-menu-open"></span>
        </div>
        <div class="header-action transaction-settings">
          <span class="mdi mdi-dots-horizontal"></span>
        </div>
      </div>
    </div>

    <div class="transaction-row list-group-sort" style="cursor:pointer">

      <div class="tr-column date direction-column sortable">
        <span>Дата</span>
        <span>Час</span>
      </div>

      <div class="tr-column beneficiery direction-column sortable">
        <span>Получател</span>
        <span>наредител</span>
      </div>

      <div class="tr-column type direction-column sortable">
        <span>Тип</span>
        <span>Основание</span>
      </div>

      <div class="tr-column currency">
        <span class="sortable">Валута</span>
      </div>

      <div class="tr-column ammount ">
        <span class="sortable">Сума</span>
      </div>

      <div class="tr-column status">

      </div>

    </div>


    <div *ngFor="let t of transactions " class="transaction-row"
      [ngClass]="t.flag==0 ? 'green' : t.flag==1? 'red' : 'yellow'">


      <div class="tr-column date direction-column">
        <span class="highlighted">{{t.date | date:'dd MMM'}}</span>
        <span>{{t.date | date:'hh:ss'}}</span>
      </div>

      <div class="tr-column beneficiery ">
        <span>{{t.beneficiery}}</span>
      </div>

      <div class="tr-column type direction-column">
        <!-- TODO fix typo in purpose -->
        <span class="highlighted">{{t.purpouse}}</span>
        <span>nqkakwi obqsneniq</span>
      </div>

      <div class="tr-column currency align-items-right">

      </div>

      <div class="tr-column ammount">

        <app-styled-currency [currency]="t.currency" [value]="t.total">
        </app-styled-currency>
      </div>

      <div class="tr-column status" [ngClass]="t.flag==0 ? 'green' : t.flag==1? 'red' : 'yellow'">
        <span *ngIf="t.flag==0"><span class="mdi mdi-plus-circle"></span></span>
        <span *ngIf="t.flag==1"><span class="mdi mdi-minus-circle"></span></span>
        <span *ngIf="t.flag==2"><span class="mdi mdi-progress-clock"></span></span>
      </div>

    </div>

  </ng-template>



  <ng-template [ngIf]="!pageView">

    <div class="list-group-header">
      <h4>Движения</h4>
      <div class="header-actions">
        <div class="header-action transaction-filter">
          <span class="mdi mdi-menu-open"></span>
        </div>
        <div class="header-action transaction-settings">
          <span class="mdi mdi-dots-horizontal"></span>
        </div>
      </div>
    </div>

    <div class="transaction-row list-group-sort" style="cursor:pointer">

      <div class="tr-column tr-col-1">
        <span class="sortable">Дата</span>
      </div>

      <div class="tr-column tr-col-2">
        <span class="sortable">Час</span>
      </div>


      <div class="tr-column tr-col-3">
        <span class="sortable">Получател</span>
      </div>


      <div class="tr-column tr-col-4">
        <span class="sortable">Основане</span>
      </div>

      <div class="tr-column tr-col-5">
        <span class="sortable">Tип</span>
      </div>

      <div class="tr-column tr-col-6">
        <span class="sortable">Currency</span>

      </div>

      <div class="tr-column tr-col-7 ">

        <span class="sortable">Ammout</span>
      </div>

      <div class="tr-column status">

      </div>

    </div>


    <div *ngFor="let t of transactions " class="transaction-row"
      [ngClass]="t.flag==0 ? 'green' : t.flag==1? 'red' : 'yellow'">


      <div class="tr-column tr-col-1">
        <span>{{t.date | date:'dd MMM'}}</span>

      </div>

      <div class="tr-column tr-col-2">
        <span>{{t.date | date:'hh:ss'}}</span>
      </div>


      <div class="tr-column tr-col-3">
        <span>{{t.beneficiery}}</span>
      </div>

      <div class="tr-column tr-col-4">
        <span>{{t.purpouse}}</span>
      </div>

      <div class="tr-column tr-col-5">
        <span>{{t.type}}</span>
      </div>

      <div class="tr-column tr-col-6"></div>

      <div class="tr-column tr-col-7">
        <app-styled-currency [currency]="t.currency" [value]="t.total">
        </app-styled-currency>
      </div>

      <div class="tr-column status" [ngClass]="t.flag==0 ? 'green' : t.flag==1? 'red' : 'yellow'">
        <span *ngIf="t.flag==0"><span class="mdi mdi-plus-circle"></span></span>
        <span *ngIf="t.flag==1"><span class="mdi mdi-minus-circle"></span></span>
        <span *ngIf="t.flag==2"><span class="mdi mdi-progress-clock"></span></span>
      </div>

    </div>

  </ng-template>


</div>
