<div style="height:100px; padding:0 20px" class="heading-title d-flex justify-content-between align-items-center">

        <h1 class="ba-page-title">Сметки</h1>
        <div class="toggle" (click)="onClick()">
                <div [ngClass]="{'left': !state}" class="highlighter"></div>
                <div class="toggle-option" [ngClass]="{'active': !state}">
                        <span class="mdi mdi-apps"></span>
                </div>
                <div class="toggle-option" [ngClass]="{'active': state}">
                        <span class="mdi mdi-format-list-bulleted"></span>
                </div>

        </div>
</div>