<header>
  <div class="header-wrapper d-flex">

    <div class="nav-brand d-flex align-items-center">
        <div class="burger-menu" (click)="toggleNav()"><span class="mdi mdi-menu"></span></div>
        <div class="brand-logo">Online Banking</div>
    </div>



    <nav class="main-nav main-color d-flex">
      <div class="account-menu account-menu-user d-flex">
        <div class="icon-text menu-item"><span class="mdi mdi-account"></span>Иван Иванов</div>

      </div>

      <div class="account-menu account-menu-actions d-flex">
        <div class="menu-item"><span class="mdi mdi-bell"></span></div>
        <div class="menu-item"><span class="mdi mdi-settings"></span></div>
        <div class="menu-item"><span class="mdi mdi-calendar-today"></span></div>
        <div class="menu-item"><span class="mdi mdi-calendar-check"></span></div>
      </div>

      <div class="account-menu account-menu-logout d-flex">
          <div  class="icon-text menu-item"><span class="mdi mdi-exit-to-app"></span>Изход</div>

      </div>

    </nav>
  </div>
</header>
